In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('fp.csv')

In [3]:
data

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,26,52,38,Sandy,Maize,37,0,0,Urea
1,29,52,45,Loamy,Sugarcane,12,0,36,DAP
2,34,65,62,Black,Cotton,7,9,30,14-35-14
3,32,62,34,Red,Tobacco,22,0,20,28-28
4,28,54,46,Clayey,Paddy,35,0,0,Urea
...,...,...,...,...,...,...,...,...,...
94,25,50,32,Clayey,Pulses,24,0,19,28-28
95,30,60,27,Red,Tobacco,4,17,17,10/26/2026
96,38,72,51,Loamy,Wheat,39,0,0,Urea
97,36,60,43,Sandy,Millets,15,0,41,DAP
98,29,58,57,Black,Sugarcane,12,0,10,20-20

In [6]:
data['Fertilizer Name'].unique()

array(['Urea', 'DAP', '14-35-14', '28-28', '17-17-17', '20-20',
       '10/26/2026'], dtype=object)

In [9]:
data["Fertilizer Name"].replace({"10/26/2026":"10-26-26"}, inplace=True)

In [12]:
data['Fertilizer Name'].unique()

array(['Urea', 'DAP', '14-35-14', '28-28', '17-17-17', '20-20',
       '10-26-26'], dtype=object)

In [15]:
"hy" + " "+"hello"

'hy hello'

In [16]:
label = []
for i in data['Fertilizer Name']:
    label.append(i+" "+ "fertilizer")

In [17]:
data['label'] = label

In [19]:
data.drop('Fertilizer Name',axis=1,inplace=True)

In [22]:
data['Soil Type'].unique()

array(['Sandy', 'Loamy', 'Black', 'Red', 'Clayey'], dtype=object)

In [48]:
soil

    Black  Clayey  Loamy  Red  Sandy
0       0       0      0    0      1
1       0       0      1    0      0
2       1       0      0    0      0
3       0       0      0    1      0
4       0       1      0    0      0
..    ...     ...    ...  ...    ...
94      0       1      0    0      0
95      0       0      0    1      0
96      0       0      1    0      0
97      0       0      0    0      1
98      1       0      0    0      0

[99 rows x 5 columns]

In [49]:
crop

,Barley,Cotton,Ground Nuts,Maize,Millets,Oil seeds,Paddy,Pulses,Sugarcane,Tobacco,Wheat
0,0,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,1,0,0
2,0,1,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
94,0,0,0,0,0,0,0,1,0,0,0
95,0,0,0,0,0,0,0,0,0,1,0
96,0,0,0,0,0,0,0,0,0,0,1
97,0,0,0,0,1,0,0,0,0,0,0
98,0,0,0,0,0,0,0,0,1,0,0

In [50]:
X

,Temparature,Humidity,Moisture,Nitrogen,Potassium,Phosphorous,Black,Clayey,Loamy,Red,...,Cotton,Ground Nuts,Maize,Millets,Oil seeds,Paddy,Pulses,Sugarcane,Tobacco,Wheat
0,26,52,38,37,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,29,52,45,12,0,36,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
2,34,65,62,7,9,30,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,32,62,34,22,0,20,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
4,28,54,46,35,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,25,50,32,24,0,19,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
95,30,60,27,4,17,17,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
96,38,72,51,39,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
97,36,60,43,15,0,41,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
98,29,58,57,12,0,10,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [23]:
soil = pd.get_dummies(data['Soil Type'])

In [25]:
data['Crop Type'].unique()

array(['Maize', 'Sugarcane', 'Cotton', 'Tobacco', 'Paddy', 'Barley',
       'Wheat', 'Millets', 'Oil seeds', 'Pulses', 'Ground Nuts'],
      dtype=object)

In [26]:
crop = pd.get_dummies(data['Crop Type'])

In [29]:
data = data.drop(['Soil Type','Crop Type'],axis=1)

In [31]:
data = pd.concat([data,soil,crop],axis=1)

In [33]:
X = data.drop('label',axis=1)

In [34]:
y = data['label']

In [36]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [46]:
X.columns

Index(['Temparature', 'Humidity ', 'Moisture', 'Nitrogen', 'Potassium',
       'Phosphorous', 'Black', 'Clayey', 'Loamy', 'Red', 'Sandy', 'Barley',
       'Cotton', 'Ground Nuts', 'Maize', 'Millets', 'Oil seeds', 'Paddy',
       'Pulses', 'Sugarcane', 'Tobacco', 'Wheat'],
      dtype='object')

In [37]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(X_train,y_train)

RandomForestClassifier()

In [38]:
from sklearn.metrics import classification_report,accuracy_score
y_pred = rf.predict(X_test)
print(classification_report(y_test,y_pred))

                     precision    recall  f1-score   support

10-26-26 fertilizer       1.00      0.50      0.67         2
14-35-14 fertilizer       0.71      1.00      0.83         5
17-17-17 fertilizer       0.00      0.00      0.00         1
   20-20 fertilizer       1.00      1.00      1.00         1
   28-28 fertilizer       1.00      1.00      1.00         5
     DAP fertilizer       1.00      1.00      1.00         1
    Urea fertilizer       1.00      1.00      1.00         5

           accuracy                           0.90        20
          macro avg       0.82      0.79      0.79        20
       weighted avg       0.88      0.90      0.88        20

In [40]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier

In [41]:
dtc = DecisionTreeClassifier()
gbc = GradientBoostingClassifier()
knc = KNeighborsClassifier()
xgbc = XGBClassifier()

In [42]:
%%time
models = list([dtc,gbc,knc,xgbc])
model_score = []
for i in models:
  i.fit(X_train,y_train)
  i_pred = i.predict(X_test)
  model_score.append(accuracy_score(y_test,y_pred))

[02:36:51] WARNING: ..\src\learner.cc:1061: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
Wall time: 1.38 s

In [47]:
import pickle
filename = 'rf_fert.pkl'
pickle.dump(rf, open(filename, 'wb'))